services:

  cookbook-backend:
    build: ./backend
    container_name: cookbook-backend
    restart: always
    environment:
      PORT: 3003
      DB_NAME: cookbook
      DB_HOST: mariadb
      PASSWORD: h34ea89h4n68
      USER: root
      NODE_ENV: dev
      FRONTEND_URL: "*"
      ACCESS_TOKEN_SECRET: d4bb48963fddbea3a76a452cc086102123324d56cfe68d15
      REFRESH_TOKEN_SECRET: 4b852529768b3460a194c341902388e942ea950008ecdb31
    networks:
      - shared-proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3003/healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 15s

    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.cookbook-backend.rule=Host(`api.cookbook.techtrove.ddns.net`)"
      - "traefik.http.routers.cookbook-backend.entrypoints=websecure"
      - "traefik.http.routers.cookbook-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.cookbook-backend.tls=true"

      - "traefik.http.services.cookbook-backend.loadbalancer.server.port=3003"

      - "traefik.http.routers.cookbook-backend-http.rule=Host(`api.cookbook.techtrove.ddns.net`)"
      - "traefik.http.routers.cookbook-backend-http.entrypoints=web"
      - "traefik.http.routers.cookbook-backend-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

networks:
  shared-db:
    external: true
  shared-proxy:
    external: true
