services:

  cookbook-backend:
    build: ./backend
    container_name: cookbook-backend
    restart: always
    networks:
      - shared-proxy

    environment:
      -PORT:${PORT}
      -DB_NAME:${DB_NAME}
      -DB_HOST:${DB_HOST}
      -DB_PASS:{DB_PASS}
      -DB_USER:${DB_USER}
      -NODE_ENV:${NODE_ENV}
      -FRONTEND_URL:${FRONTEND_URL}
      -ACCESS_TOKEN_SECRET:${ACCESS_TOKEN_SECRET}
      -REFRESH_TOKEN_SECRET:${REFRESH_TOKEN_SECRET}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3003/healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 15s

    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.cookbook-backend.rule=Host(`api.cookbook.techtrove.ddns.net`)"
      - "traefik.http.routers.cookbook-backend.entrypoints=websecure"
      - "traefik.http.routers.cookbook-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.cookbook-backend.tls=true"

      - "traefik.http.services.cookbook-backend.loadbalancer.server.port=3003"

      - "traefik.http.routers.cookbook-backend-http.rule=Host(`api.cookbook.techtrove.ddns.net`)"
      - "traefik.http.routers.cookbook-backend-http.entrypoints=web"
      - "traefik.http.routers.cookbook-backend-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

networks:
  shared-db:
    external: true
  shared-proxy:
    external: true
