services:

  ${DB_HOST}-backend:
    build: ./backend
    container_name: ${DB_HOST}-backend
    restart: always
    environment:
      PORT: ${PORT}
      DB_NAME: ${DB_HOST}
      DB_HOST: ${DB_HOST}
      PASSWORD: ${DB_PASS}
      USER: ${DB_USER}
      NODE_ENV: ${NODE_ENV}
      FRONTEND_URL: "*"
      ACCESS_TOKEN_SECRET: d4bb48963fddbea3a76a452cc086102123324d56cfe68d15
      REFRESH_TOKEN_SECRET: 4b852529768b3460a194c341902388e942ea950008ecdb31
    networks:
      - shared-proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT}/healthcheck"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 15s

    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.${DB_HOST}-backend.rule=Host(`api.${DB_HOST}.techtrove.ddns.net`)"
      - "traefik.http.routers.${DB_HOST}-backend.entrypoints=websecure"
      - "traefik.http.routers.${DB_HOST}-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.${DB_HOST}-backend.tls=true"

      - "traefik.http.services.${DB_HOST}-backend.loadbalancer.server.port=${PORT}"

      - "traefik.http.routers.${DB_HOST}-backend-http.rule=Host(`api.${DB_HOST}.techtrove.ddns.net`)"
      - "traefik.http.routers.${DB_HOST}-backend-http.entrypoints=web"
      - "traefik.http.routers.${DB_HOST}-backend-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

networks:
  shared-db:
    external: true
  shared-proxy:
    external: true
